{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head %}
    The Update Page
{% endblock head %}

{% block body %}
    <form action="{% url 'votes:candidate_update' form.instance.id %}" method="POST">
        {% csrf_token %}

        <div class="row mt-5 mb-3"> 
                <h1> Edit "{{ form.lastname.value }}, {{ form.firstname.value }}" </h1>
        </div>

             {{ form|crispy }}
        <input type="submit" class="btn btn-primary" value="Update">
        <a href="{% url 'votes:candidate_detail' id %}">
                <button type="button" class="btn btn-outline-danger"> Cancel</button>
        </a>
    </form>
{% endblock body %}