{% extends 'base.html' %}

{% block head %}
{% endblock head %}

{% block body %}
        <a href='{% url 'votes:index' %}'>
                <button type="button" class="btn btn-outline-light mt-5 text-dark"> &lt  Go back to candidates</button>
        </a>

        <div class="card mt-3">
                <div class="card-body  p-5">
                        <div class="row mb-1"> 
                                <h1> {{ candidate.lastname }}, {{ candidate.firstname }} 
                                
                                <span class="ml-3">
                                        <a href='{% url 'votes:vote' candidate.id %}'>
                                                <button type="button" class="btn btn-primary">
                                                        Vote <span class="badge badge-light ml-2"> {{ candidate.vote_set.count }}</span>
                                                </button>
                                        </a>
                                </span>
                        </div>

                        <div class="row"> 
                                <p> As <span class="font-weight-bold"> {{ candidate.position }} </span> </p> 
                        </div>
                        <div class="row"> 
                                <small> Born 
                                        <span> {{ candidate.birthdate }} </span> 
                                </small>
                        </div>
                        <div class="row mt-2"> 
                                <a href='{% url 'votes:candidate_update' candidate.id %}'> 
                                        <span class="badge badge-dark">Update Details</span>
                                </a>
                        </div>
                        <div class="row"> 
                                <div class="card bg-light mb-3 mt-5 w-100">
                                        <div class="card-header font-weight-bold" style="font-size: 15; letter-spacing: 3">PLATFORM</div>
                                        <div class="card-body">
                                                <p class="card-text">{{ candidate.platform }}</p>
                                        </div>
                                </div>

                                <p class="text-justify mt-5 mb-5"> <p>
                        </div>
                </div>
        </div>
        
{% endblock body %}